
@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

   

    <div class="container">
        <h1>Contact</h1>
        <p>Email: contact@mywebsite.com</p>
    </div>



</body>
</html>


