@model _25_LoginWebProjectScratch.Model.User
@{
    ViewData["Title"] = "Index";
}
<div class="container">
                   
    <div class="row">
        <div class="col-sm-2">
            <form class="d-grid" asp-controller="Home" asp-action="Index" method="post">
                <h2>Login</h2>
                <input asp-for="Name" placeholder="Enter UserName or Email" class="form-control" />
                <br />
                <input asp-for="Password" type="password" placeholder="Enter Password" class="form-control" />
                <br />
                <input type="submit" value="Submit" class="btn btn-outline-primary" />
                <br />
            </form>

        </div>
    </div>

</div>


