<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 style="color:powderblue;align-content:center">Header Portion</h1>
    </div>
        @RenderBody()
    <div>
    <h1 style="color:wheat;align-content:baseline">Footer Portion</h1>
    </div>
</body>
</html>
