@{
    ViewData["Title"] = "Home Page";
    var students = ViewData["StudentData"] as List<StudentModel>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <tr>
        <th>Roll_No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Standard</th>
        

    </tr>
    @{
        foreach (var std in students)
    {
        <tr>
        <td>@std.Roll_No</td>
        <td>@std.Name</td>
         <td>@std.Address</td>
          <td>@std.Standard</td>
        </tr>
    }
    }
</table>